@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* ==== global style ==== */

:root {
    --title-color: rgb(0, 20, 58);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    background-color: rgb(240, 240, 250);
}

/* ==== end of global style ==== */

/* ==== header style ==== */

header {
    padding: 1.5rem 0 8rem;
    text-align: center;
    background-color: rgb(60, 92, 52);
}

#logo {
    color: white;
}

#logo-dot {
    color: darkcyan;
}

#logo-dollar {
    color: lime;
}

/* ==== end of header style ==== */

/* ==== balance style ==== */

main {
    display: flex;
    flex-flow: column wrap;
}

main h2 {
    margin: 3rem 0 1rem;
    font-weight: normal;
    columns: var(--title-color);
}

main h2#balance {
    margin-top: 0;
    color: white;
}

.container {
    width: 70vw;
    display: flex;
    flex-flow: column wrap;
    margin: auto;
    margin-top: -5.5rem;
}

.container > div {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.money-container {
    width: 33%;
    display: flex;
    flex-flow: column wrap;
    padding: 1rem;
    border-radius: 0.25rem;
    background-color: white;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
}

.section-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .8em;
    color: rgb(141, 141, 141);
}

#total,
#total > .section-head {
    background-color: rgb(73, 170, 38);
    color: white;
}

.money {
    line-height: 3rem;
    font-size: 1.5em;
}

.money-container ~ img {
    height: 2em;
}

/* ==== end of balance style ==== */


/* ==== table style ==== */

.table-container {
    width: 70vw;
    margin: auto;
    margin-top: 3rem;
}

#data-table {
    width: 100%;
    border-spacing: 0 0.5rem;
}

table thead tr th:first-child,
table tbody tr td:first-child {
    border-radius: 0.5rem;
}

table td {
    padding: 1rem 2rem;
    background: white;
}

table tbody tr {
    opacity: 0.7;
}

table tbody tr:hover {
    opacity: 1;
}

table th {
    padding: .5rem 2rem;
    text-align: left;
    color: rgb(126, 131, 150);
    font-weight: normal;
}

td.description {
    color: var(--title-color);
}

td.income {
    color: rgb(0, 224, 0);
}

td.outcome {
    color: red;
}

/* ==== end of table style ==== */

/* ==== footer style ==== */

footer {
    text-align: center;
    opacity: 0.6;
}

/* ==== end of footer style ==== */